
*{
    color: aliceblue;
    text-shadow: 5px 5px 15px black;
    margin: 0px;
}
img{
    width: 100%;
}
.title-b{
    font-size: 32px;
}
.main{
    background-color: rgb(22, 255, 243);
}
.lower{
    height: 500px;
    width: 30%;
    background-color:rgb(22, 255, 243) ;
}
.lower>span{
    font-size: 50px;
    color: blueviolet;
}
.formularzysko{
  width: 100%;
  height: 100vh;
  background-color: rgb(18,18,18);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.formularzysko>span{
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;
}
.formularzysko>p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  margin: 0px 30%;
}
form{
  display: flex;
flex-direction: column;
height: 300px;
width: 400px;
justify-content: space-evenly;

}
input{
  background-color: rgb(8,7,8);
  width: 70%;
  border: none;
  height: 30px;
}
textarea{
  background-color: rgb(8,7,8);
  height: 100px;
            width: 70%;
}
::-webkit-scrollbar{
width: 4px;
background: none;
}
::-webkit-scrollbar-thumb{
border-radius: 45rem;
background-color: rgb(0, 0, 0);
}
::-webkit-scrollbar-track{
background-color: rgba(0, 255, 255, 0);
}